 body {
    background-color: #f2e9dd;
    font-family: Montserrat;
    color: #005457;
    margin:0;
 }
 header{
    text-align: center;
 }
 aside{
    background-color: #faf4ed;
    text-align: center;
 }
aside ul{
    list-style: square;
    text-align: left;
}

