 body {
    background-color: #f2e9dd;
    font-family: Montserrat;
    color: #005457;
    margin:0;
 }
 main{
    display:grid;
    grid-template-rows: max-content auto max-content;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
 }
 header{
    text-align: center;
 }
 aside{
    background-color: #faf4ed;
    grid-column: 1;
    grid-row: 1/-1;
    text-align: center;
 }
aside ul{
    list-style: square;
    text-align: left;
}
section{
    display: grid;
    grid-template-rows: auto 1fr 3fr 1fr;
    margin: 0 1em 1em 1em;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}
div.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
textarea{
    resize: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    border: 4px solid #22508C;
    background-color: #faf4ed;
}
div.bottom{
    display: flex;
    justify-content: right;
    align-items: center;
}
footer{
    text-align: center;
}